<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- user credentials and root directory -->
    <add key="userName" value="tester" />
    <add key="userPassword" value="password" />
    <add key="userRootDir" value="data" />

    <!-- directory path with user public keys for public key authentication (optional)
		     supported file names and extensions:
		       authorized_keys       - for OpenSSH's ~/.ssh/authorized_keys file format
		       *.pub, *.key          - for SSH public keys
		       *.der, *.cer, *.crt   - for X509 certificates
		-->
    <add key="userPublicKeyDir" value="" />

    <!-- port -->
    <add key="sshPort" value="22" />

    <!-- server host keys -->
    <add key="rsaPrivateKeyFile" value="server-private-key-rsa.ppk" />
    <add key="rsaPrivateKeyPassword" value="my-super-secure-password" />
    <add key="dssPrivateKeyFile" value="server-private-key-dss.ppk" />
    <add key="dssPrivateKeyPassword" value="my-super-secure-password" />

    <!-- specifies whether to start the server when the application is launched -->
    <add key="autoStart" value="false" />

    <!-- specifies whether to show login details when the application is launched -->
    <add key="showUserDetailsOnStartup" value="true" />

  </appSettings>
</configuration>
