<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- user credentials and root directory -->
    <add key="userName" value="tester" />
    <add key="userPassword" value="password" />
    <add key="userRootDir" value="data" />

    <!-- directory path with user public keys for public key authentication (optional)
		     supported file names and extensions:
		       authorized_keys       - for OpenSSH's ~/.ssh/authorized_keys file format
		       *.pub, *.key          - for SSH public keys
		       *.der, *.cer, *.crt   - for X509 certificates
		-->
    <add key="userPublicKeyDir" value="" />

    <!-- port -->
    <add key="sshPort" value="22" />

    <!-- server host keys -->
    <add key="rsaPrivateKeyFile" value="server-private-key-rsa.ppk" />
    <add key="rsaPrivateKeyPassword" value="my-super-secure-password" />
    <add key="dssPrivateKeyFile" value="server-private-key-dss.ppk" />
    <add key="dssPrivateKeyPassword" value="my-super-secure-password" />

    <!-- Comma-separated list of enabled encryption ciphers.
         The following ciphers are supported:
            aes256-gcm@openssh.com,aes128-gcm@openssh.com,
            chacha20-poly1305@openssh.com,
            aes256-ctr,aes192-ctr,aes128-ctr,aes256-cbc,aes192-cbc,aes128-cbc,
            3des-ctr,3des-cbc,
            twofish256-ctr,twofish192-ctr,twofish128-ctr,twofish256-cbc,twofish192-cbc,twofish128-cbc,twofish-cbc
         If the value is empty, the following ciphers are enabled by default:
            aes256-gcm@openssh.com,aes128-gcm@openssh.com,
            chacha20-poly1305@openssh.com,
            aes256-ctr,aes192-ctr,aes128-ctr,
            3des-ctr
    -->
    <add key="ciphers" value="" />

    <!-- specifies whether to start the server when the application is launched -->
    <add key="autoStart" value="false" />

    <!-- specifies whether to show login details when the application is launched -->
    <add key="showUserDetailsOnStartup" value="true" />

  </appSettings>
</configuration>
